@import './reset.scss';
@import './common.scss';
@import './transition.scss';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

div:focus {
  outline: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

// 超链接样式
.link-type,
.link-type:focus {
  color: $link-color;
  cursor: pointer;
  &:focus,
  &:hover {
    color: $link-hover-color;
  }
}

// flex 充满整个页面
.flex-layout {
  @include flex-layout();
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#101f1c, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 1);
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

// form-item 水平居中
.form-item-center {
  .el-form-item__content {
    @include flex-box($enable-height: false);
  }
}
